<div id="opener">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <button (click)="onClick()">Toggle HD Render</button>
</div>

<div id="experience">
    <h4>Employment</h4>
    <img src="https://tradejournal.s3.amazonaws.com/static/favicon.ico" style="vertical-align:middle"/><a href="https://www.tradejournal.co" target=”_blank”>TradeJournal</a>
</div>

<div id="languages" style="width: 0; height: 0;">

</div>

<div id="contact" style="width: 0; height: 0;">
    <p>Email: </p> <a href="mailto: justindavidtrotta@gmail.com"></a>

</div>